.containerForm {
    margin-top: 47px;
}

.containerForm form {
    display: flex;
    gap: 20px;
}

.containerForm input {
    width: initial;
    background: transparent;
    border-bottom-color: white;
}

.inputId:disabled {
    background-color: transparent;
    border-bottom-style: dotted;
    color: rgba(0, 0, 0, 0.801);
}
.containerForm .boxField:nth-child(4) {
    flex: 2;
}
.containerForm input[id='name'] {
    max-width: 150px;
    width: 100%;
}
.containerForm input[type='email'] {
    width: 100%;
}

.boxField:focus-within label {
    color: var(--blue-300);
}

.message_error {
    display: block;
    color: red;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px;
}

.error {
    border-color: red !important;
}

input:disabled {
    color: var(--black-50);
}

@media (max-width: 992px) {
    .containerForm form {
        flex-direction: column;
    }
    .containerForm input[id='name'] {
        max-width: initial;
    }
    .containerForm input {
        width: initial;
        width: 100%;
    }
    .containerForm {
        margin-top: 30px;
    }
}
