.header {
    background: #031124;
    padding: 30px 0px;
    box-shadow: 0px 1px 4px #83a3d464;
}
.box_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 150px;
}
.logo img {
    width: 100%;
}
.navbar {
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
    /* padding: 0 78px; */
    gap: 85px;
}

.navbar a {
    font-weight: 500;
    color: white;
    font-size: 16px;
    display: flex;
    line-height: 28px;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s;
}

/* .navbar a::before {
    content: '';
    display: inline-block;
    width: 1.5px;
    height: 14px;
    background-color: #989da2;
    margin-right: 10px;
} */

.navbar a:nth-child(1)::before {
    display: none;
}

.navbar a:hover {
    text-decoration: none;
    color: #cdcdd0b0;
}

.menuIcon {
    display: none;
}

@media (max-width: 768px) {
    body {
        overflow: hidden;
    }
    .navbar {
        position: absolute;
        overflow: hidden;
        flex-direction: column;
        top: 120px;
        gap: 30px;
        right: 0px;
        bottom: 0;
        background-color: #031124;
        width: 50%;
        min-width: 15rem;
        padding: 0 32px 23px;
        transition: all 300ms ease;
        opacity: 0;
        visibility: hidden;
        user-select: none;
        border-bottom-left-radius: 4px;
    }
    .menuIcon {
        display: block;
        cursor: pointer;
    }
    .navbarOpen {
        display: flex;
        user-select: auto;
        opacity: 1;
        visibility: visible;
    }
}
